* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

#footer_main {

  padding: 0px 0px 20px 0px;
  background-color: rgb(43, 42, 42);
  color: rgb(224, 224, 224);


}

#footer_fst {
  display: flex;
  justify-content: space-between;

  padding: 10px 50px;
}

#footer_fst li {
  margin-top: 5px;
}

#footer_fst li:hover {
  margin-top: 5px;
  text-decoration: underline;
}

#footer_fst>div {

  width: 25%
}

#footer_fst>div li {
  list-style: none;
}

#footer_scnd {}

#social_media {
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#social_box {

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5px;

}

/* carousel part start */
.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* Updated transition */
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

/* carousel part end */


/* card part  */

/* Card.css */



/* >>>>>>>>>>>>>>>>>>>>>>>>> */

.container {
  width: 100%;

  position: relative;
  display: grid;
  padding: 40px 80px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 40px 80px;

  .header {
    margin: 0 auto;
    text-align: center;

    h1 {
      color: #fff;
      font-weight: 900;
    }

    p {
      color: #fff;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .card {
    position: relative;

    .face {
      position: relative;
      height: 300px;
      transition: 0.5s;
      border-radius: 12px;

      &.face1 {
        position: relative;
        background: rgb(241, 164, 21);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        transform: translateY(70px);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
      }
    }

    &:hover .face.face1 {
      transform: translateY(0);
      /* background-image: linear-gradient(to left bottom, #8c00dc, #c600ba, #e80096, #f90074, #ff0057); */
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .face.face1 .content {
      opacity: 0.8;
      transition: 0.5s;
    }

    &:hover .face.face1 .content {
      opacity: 1;
    }

    .face {
      &.face1 .content {}

      &.face2 {
        position: relative;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
        height: 100px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
        transform: translateY(-100px);
      }
    }

    &:hover .face.face2 {
      transform: translateY(0);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .face.face2 {
      p {
        margin: 0;
        padding: 0;
      }

      a {
        margin: 15px 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #333;
        padding: 5px;
        border: 1px solid #333;

        &:hover {
          background: #333;
          color: #fff;
        }
      }
    }
  }
}

.content>img {
  border-radius: 10px;
  width: 90%;
  height: 290px;
  padding: 0px 20px;
  margin-top: 10px;
  margin: auto;

}

#continent_name {
  position: relative;
  padding: 0;
  color: #fff;
  margin-top: 40px;
  text-align: center;
  font-size: 2.5em;

}

/* continent card end  */

/* news& events start  */

#events_news_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px;
  width: 100%;
  gap: 10px 20px;
  margin: auto;
  /* border: 1px solid red; */
}

#Event_news_container {

  display: flex;
  width: 100%;
  height: 130px;
  margin: auto;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
}

#news_event_img_div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}

#news_event_img_div {
  width: 40%;
  height: 100%;

}

#new_details {
  padding: 0px 10px;
  text-align: start;
}

/* news &events end  */

/* country Start  */

#country_main {
  padding: 20px;
}

#country_Container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 5px 20px;
}

#country_card_parent {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.country_img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

#country_card_parent>div:hover .country_img {
  transform: scale(1.2);
}


/* state start  */

#state_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  padding: 20px;
}

.card_container {

  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.card_container:hover .card-image {
  transform: scale(1.1);
}

.card-title {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-description {
  color: #fff;
  font-size: 14px;
  margin-top: 0;
}



.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
  /* overflow: hidden; */
}

.card_container:hover .card-overlay {
  opacity: 1;
  height: 100%;
}

/* continent gallery  start  */
#gallery_container {
  display: grid;
  margin: auto;
  width: 95%;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 60px;
  gap: 25px;
}


.card_container_galarry {

  /* width: 350px; */
  /* height: 220px; */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}


.card_container_galarry:hover .card-image {
  transform: scale(1.1);
}

.card_container_galarry:hover .card-overlay {
  opacity: 1;
  height: 100%;
}

/* review card start  */

#review_container {

  margin: 20px auto;
  width: 80%;


}

#reviews_card {
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

#review_card_left>img {
  margin: auto;
  /* border: 1px solid; */
  width: 40%;
  border-radius: 100px;
}

#review_card_right {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* book part start  */
#book_container_main {
  /* border: 2px solid green; */
  margin: 20px 0px;
  padding: 20px 40px;

}

#book_container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 60vh;
  margin-top: 20px;
  border-radius: 10px;
}

#book_container>div {
  width: 50%;
  /* height: 50vh; */
  /* border: 1px solid blue; */
}

#book_container_left>img {
  width: 70%;
  height: 100%;
  object-fit: contain;
}

#book_container_right {
  margin: auto;
  height: 70%;
  display: grid;
  place-items: center;
  padding: 10px 40px;
}

#book_container_right>a {
  width: 50%;
  background-color: orange;
}

/* places start  */
#place_main {
  display: flex;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgb(206, 205, 205);
  height: max-content;
  /* margin-bottom: -50px; */
}

#place_main.card_container {}

#place_left {
  width: 30%;

}

#place_left>img {
  width: 100%;
  height: 100%;
}

#place_right {
  width: 70%;
  text-align: start;
  padding: 0px 20px;

}

#places_container {
  display: grid;
  padding: 40px;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#hotel_container {
  border-radius: 5px;
  width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  gap: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 900px;
  overflow-y: auto;

}

#s {
  font-size: small;
  margin-left: -40px;
  color: gray;
}

/* slider gif start  */
#slider_gif {
  width: 100%;
  height: 80vh;
  object-fit: fill;
  margin-bottom: 30px;
}

/* Booking start  */
#booking_main{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 50px;
  border-radius: 20px;
}