* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#login_main {
    /* border: 1px solid orange ; */
    border-radius: 10px;
    margin: 5% auto 0% auto;
    padding: 20px 30px;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#create_acc:hover {
    text-decoration: underline;
}

#signup_main {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 10px;
    margin: 1% auto 0% auto;
    padding: 20px 30px;
    width: 30%;
}

#signup_main input {
    outline: none;

}

#homeButton {
    position: relative;
    top: 0;

    border: 1px solid;

}

/* forgot start  */
#forgot_main {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    width: 30%;
    margin: 5% auto;
    border-radius: 10px;
}

#resetButton {
    width: max-content;
    background-color: rgb(255, 128, 0);
    margin-top: 20px;
    color: white;
}

@media (max-width:768px) {
    #login_main {
        width: 100%;
    }

    #signup_main {
        width: 95%;
    }

    #forgot_main {
        width: 95%;

    }
}