*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#section_two_container{
 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 30px 100px;
    margin-top: 10px;
}
#service_card{
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    /* height: 150px; */
    justify-content: space-around;
    gap: 15px;
    padding: 20px 0px;
    border-radius: 10px;


}
#service_font{
    font-size: 25px;
    color: orange;
    
}



/* ................................ */
#SectionThree_card_container{
    /* border: 1px solid; */
    margin-top: 30px;
}
#SectionThree_card{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 30px;
}

#specialPlace_card{
  
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    text-align: start;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
#specialPlace_card:hover{
    box-shadow: none;
}
#specialPlace_card s{
    color: gray;
    font-size: small;
}
#specialPlace_card button:hover{
background-color: rgb(3, 178, 184);
}


/* ............................................. */
.custom-grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.grid-item-content {
    /* position: relative; */
    width: 100%;
    height: 100%;
}

.grid-item-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s; /* Add a smooth transition effect */
}

.custom-grid-item:hover .grid-item-content img {
    transform: scale(1.1); /* Adjust the scale factor for zoom level */
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#section_five{
    border: 1px solid;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    padding: 30px;
}

#about_box{
    display: flex;
    border: 1px solid;
}
#about_left{

    width: 40%;
    padding: 25px;
   
}

#about_right{
   width: 60%;
    text-align: start;
    padding: 20px;
}
#section_five span{
   
   color: orange;
}
